body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-size:14px;
    background-color:#e4e4e4;
}

ul li {
    list-style: none !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.navbar {
    background-color: #14436B;
}

.logo-container {
    width:150px;
}

.form-control {
    border-radius: 50px;
}

.input-group-append {
    background-color:white;
    color:black;
    border-radius:0 50px 50px 0;
    border-color:white !important;
}

.nav-link {
    color: white !important;
    font-size:1em;
}

.nav-item {
    text-transform: uppercase;
}

.bottom--nav  {
    background-color:#F3B541;
}

.carousel-inner {
    height:50vh;
    overflow:hidden;
}

.carousel-item img {
    max-width:100%;
    height:auto;
}

.product-thumb  {
    position:relative;
}

.product-thumb img {
    max-width:100%;
    height:auto;
}

.product--caption {
    position: absolute;
    width:100%;
    bottom:0;
    padding: 10px 0;
    background-color:rgba(20, 67, 107, 0.5);
} 

.discount-tag {
    position: absolute;
    background-color:#F3BB52;
    left:0;
    padding: 10px 100px;
    font-weight:600;
    margin-top:1rem;
}

.product-details {
    position: relative;
}

.price {
    font-weight:700;
}

footer {
    background-color: #14436B;
}

.footer-nav-title {
    color: white;
    text-transform: uppercase;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  .modal-enter, .modal-leave {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .btn-submit {
      background-color: #F3BB52;
      border:none !important;
  }

  .banner--sub {
      height:300px;
      overflow:hidden;
      position: relative;
  }

  .banner--sub img {
      filter:brightness(50%);
  }

  .banner-page {
      position: absolute;
  }

  .page-title {
      position:absolute;
      text-transform: uppercase;
      font-size: 1.6em;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  }

  .yellow-img {
      height:300px;
      overflow:hidden;
      width:100%;
      margin:20px 0;
      position: relative;
  }

  .s-right {
      position: absolute;
      background-color:#F3B541;
      width:25%;
      height:100%;
      right:0;
  }

  .s-right button {
    padding:5px 0;
    background-color:#f7f7f7;
    border-radius:6px;
  }

  .s-left {
    position: absolute;
    background-color:#14436B;
    width:25%;
    height:100%;
    left:0;
}

.s-left button {
    padding:5px 0;
    background-color:#f7f7f7;
    border-radius:12px;
  }

  .s-right,.s-left {
      padding:40px;
  }

  .explore-big-img {
      position: relative;
  }

  .explore-caption {
      position: absolute;
      width:80%;
      padding:20px;
      bottom:-10%;
      background-color: white;
      border:1px solid #14436B;
      left:50%;
      transform: translateX(-50%);
  }

  .desc-box {
      background-color:white;
      padding:50px;
      border:1px solid #F3BB52;
  }

  .artist {
      color: #F3B541;
      font-weight:600;
  }

  .bed--img-container {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius:50%;
      display: flex;
      border:1px solid #14436B;
  }

  .bed-img--container img {
      width:200px;
      height:auto;
  }
